[submodule "apl"]
	path = apl
	url = git@bbgithub.dev.bloomberg.com:dsankel/apl
[submodule "asio"]
	path = asio
	url = git@bbgithub.dev.bloomberg.com:dsankel/asio
[submodule "cms"]
	path = cms
	url = git@bbgithub.dev.bloomberg.com:dsankel/cms
[submodule "dpl"]
	path = dpl
	url = git@bbgithub.dev.bloomberg.com:dsankel/dpl
