[submodule "apl"]
	path = apl
	url = git@github.com:camio/apl
[submodule "asio"]
	path = asio
	url = git@github.com:camio/asio
[submodule "cms"]
	path = cms
	url = git@github.com:camio/cms
[submodule "dpl"]
	path = dpl
	url = git@github.com:camio/dpl
