[submodule "apl"]
	path = apl
	url = https://github.com/camio/apl.git
[submodule "asio"]
	path = asio
	url = https://github.com/camio/asio.git
[submodule "cms"]
	path = cms
	url = https://github.com/camio/cms.git
[submodule "dpl"]
	path = dpl
	url = https://github.com/camio/dpl.git
